.page-node-type-article {
  .node__content {
    display: block;
    max-width: 1200px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-right: 5%;
    padding-left: 5%;

    // Second level node content should not use outer container style.
    .node__content {
      width: 100%;
      padding: 0;
      margin: 0;
      max-width: 100%;
    }
  }

  .last-updated--timestamp {
    color: $gray-light;
    font-size: 1rem;
  }
}
