@import "grid";
@import "mixins";
@import "reset";
@import "vars";
@import "layout";

body {
  font-family: $base-font;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: em(20, $base-font-size);
}

img {
  // width: 100%;
  max-width: 100%;
}
