@import "grid";
@import "mixins";
@import "reset";
@import "vars";

body {
  font-family: Calibri, sans-serif;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: em(20, $base-font-size);
}
