@import "bourbon";
@import "vars";
@import "mixins";

$grid-columns: 12;
$max-width: 1200px;

// Debug.
$visual-grid: false;
$visual-grid-index: front;

@import "neat";

// Grid loop magic.
@for $i from 1 through $grid-columns {
  .span-#{$i} {
    @include span-columns($i);
  }
  .push-#{$i} {
    @include shift($i);
  }
}

@include media($tablet-l) {
  [class*='span-'] {
    @include span-columns(12);
  }

  [class*='push-'] {
    @include shift(0);
  }
}

// Plain and simple clear class.
.clear {
  clear: left;
}


header {
  @include span-columns(12);
}

main {
  @include span-columns(12);
}
