$black-medium: rgb(51, 51, 51);

$gray: rgb(194, 194, 194);
$gray-medium: rgb(174, 174, 174);

// Base font vars.
$base-font-size: 16px;

/**
 * Breakpoints.
 */
$phone: new-breakpoint(max-width 480px);
$tablet-p: new-breakpoint(max-width 768px);
$tablet-l: new-breakpoint(max-width 1024px);
$screen: new-breakpoint(min-width 1025px);
$bigscreen: new-breakpoint(min-width 1200px);

// z-index's
$z-index-menu: 2;
