$black: rgb(0, 0, 0);
$black-medium: rgb(51, 51, 51);
$black-light: rgb(90, 90, 90);

// Gradient start and stop colors.
$gray-light-gradient-dark: rgb(217, 217, 214);
$gray-light-gradient-light: rgb(243, 243, 243);

$turquoise-dark-gradient-dark: rgb(130, 169, 169);
$turquoise-dark-gradient-light: rgb(187, 215, 215);

$gray: rgb(194, 194, 194);
$gray-medium: rgb(174, 174, 174);

$gray-light: rgb(167, 157, 150);
$gray-dark: rgb(100, 92, 86);
$gray-list: rgb(116, 104, 96);
$gray-dark: rgb(131, 120, 112);

$white-dark: rgb(248,248,248);//f8f8f8;

$green: rgb(43, 182, 183);

$red: rgb(225, 71, 125);

$red-dark: rgb(177,17,73);

$border-color: rgb(226, 226, 226);

// Icon font.
@include font-face("icomoon", "../fonts/icomoon", $file-formats: ttf woff svg eot);

// Base font vars.
$base-font-size: 14px;
$base-font-color: $black-light;
/**
 * Breakpoints.
 */
$phone: new-breakpoint(max-width 1767px);
$tablet-p: new-breakpoint(max-width 772px);
$desktop: new-breakpoint(min-width 773px);
$tablet-l: new-breakpoint(max-width 1024px);
$screen: new-breakpoint(min-width 1025px);
$bigscreen: new-breakpoint(min-width 1200px);

// z-index's
$z-index-menu: 2;

@include font-face("Calibri", "../fonts/Calibri", $file-formats: ttf);
@include font-face("Calibri Italic", "../fonts/Calibri Italic", $file-formats: ttf);
@include font-face("Calibri Bold", "../fonts/Calibri Bold", $file-formats: ttf);
@include font-face("Calibri Bold Italic", "../fonts/Calibri Bold Italic", $file-formats: ttf);

// We do this manually for now to support opentype
@font-face {
  font-family: "FB Hermes";
  src: url("../fonts/FB Hermes Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

$base-font: Calibri, sans-serif;

// Paddings.
$paragraph-margin-bottom: 32px;
