.accordion {
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
}

.accordion__header {
  z-index: 10;
  width: 100%;
  border-bottom: 1px dashed $gray-light;
  font-family: 'FB Hermes', sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: $black-medium;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;

  // Make the item none selectable.
  @include user-select(none);

  &:hover {
    background-color: $white-dark;
  }
}

.accordion__content {
  display: none;
  position: relative;
  overflow: hidden;
  padding: 22px;
  background-color: white;
}

.accordion__arrow {
  position: absolute;
  top: 35%;
  right: 22px;
  font-size: 14px;

  & {
    @include transform(rotate(0deg));
    @include transition(all 300ms ease-out);

    .active & {
      @include transform(rotate(180deg));
    }
  }
}

.paragraph.accordion {
  margin-bottom: 0;
}

// Make sure there is a margin between the accordion and the next paragraph that
// is not an accoridon.
.paragraph.accordion + .paragraph:not(.paragraph--type--accordion) {
  margin-top: 50px;
}
