.figure {
  margin-bottom: 10px;
}

.figcaption {
  margin-top: 12px;
  margin-bottom: 20px;
  padding-right: 10%;
  padding-left: 10%;
  color: $gray-dark;
  text-align: center;
  font-size: em(16.8, $base-font-size);
}
