.language-flags {
  list-style-type: none;
  position: fixed;
  top: 6px;
  right: -8px;
  width: auto;
  height: 60px;
  min-width: 100px;
  padding-right: 25px;
  float: none;


  body.user-logged-in.toolbar-vertical & {
    margin-top: 40px;
  }


  body.user-logged-in.toolbar-horizontal & {
    margin-top: 80px;
  }


  li {
    float: left;
    width: 32px;
  }

  @include media($tablet-p) {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 80px;
    padding-left: 31px;
    margin: 0;
    padding-top: 6px;
  }
}

.language-flag {
  width: 25px;
  height: 50px;
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
  float: left;
  @include filter(grayscale(70%));

  &:hover {
    @include filter(grayscale(0%));
  }

  &.active {
    @include filter(grayscale(0%));
  }
}

.language-flag--uk {
  background-image: url("../svg/uk.svg");
}

.language-flag--dk {
  background-image: url("../svg/dk.svg");
}

.language-flag--de {
  background-image: url("../svg/de.svg");
}
