html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
}

/**
 * Breakpoints.
 */
@font-face {
  font-family: "Calibri";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FB Hermes";
  src: url("../fonts/FB Hermes Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.span-1 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 8.33333%;
}

.span-1:last-child {
  margin-right: 0;
}

.push-1 {
  margin-left: 8.33333%;
}

.span-2 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%;
}

.span-2:last-child {
  margin-right: 0;
}

.push-2 {
  margin-left: 16.66667%;
}

.span-3 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%;
}

.span-3:last-child {
  margin-right: 0;
}

.push-3 {
  margin-left: 25%;
}

.span-4 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%;
}

.span-4:last-child {
  margin-right: 0;
}

.push-4 {
  margin-left: 33.33333%;
}

.span-5 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%;
}

.span-5:last-child {
  margin-right: 0;
}

.push-5 {
  margin-left: 41.66667%;
}

.span-6 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
}

.span-6:last-child {
  margin-right: 0;
}

.push-6 {
  margin-left: 50%;
}

.span-7 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 58.33333%;
}

.span-7:last-child {
  margin-right: 0;
}

.push-7 {
  margin-left: 58.33333%;
}

.span-8 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%;
}

.span-8:last-child {
  margin-right: 0;
}

.push-8 {
  margin-left: 66.66667%;
}

.span-9 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 75%;
}

.span-9:last-child {
  margin-right: 0;
}

.push-9 {
  margin-left: 75%;
}

.span-10 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.33333%;
}

.span-10:last-child {
  margin-right: 0;
}

.push-10 {
  margin-left: 83.33333%;
}

.span-11 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 91.66667%;
}

.span-11:last-child {
  margin-right: 0;
}

.push-11 {
  margin-left: 91.66667%;
}

.span-12 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
}

.span-12:last-child {
  margin-right: 0;
}

.push-12 {
  margin-left: 100%;
}

@media screen and (max-width: 1024px) {
  [class*='span-'] {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  [class*='span-']:last-child {
    margin-right: 0;
  }
  [class*='push-'] {
    margin-left: 0%;
  }
}

.clear {
  clear: left;
}

header {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
}

header:last-child {
  margin-right: 0;
}

main {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
}

main:last-child {
  margin-right: 0;
}

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
}

/**
 * Breakpoints.
 */
@font-face {
  font-family: "Calibri";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Calibri Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FB Hermes";
  src: url("../fonts/FB Hermes Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Calibri, sans-serif;
  color: #5a5a5a;
  font-size: 14px;
  line-height: 1.42857em;
}

img {
  width: 100%;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

p {
  color: #5a5a5a;
  line-height: 155%;
  font-size: 1.3em;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 1.2em;
  }
}

.node__content .summary {
  margin-bottom: 25px;
  font-size: 1.64286em;
  line-height: 145%;
  font-family: "Calibri Bold", sans-serif;
  text-align: center;
  color: black;
}

@media screen and (max-width: 768px) {
  .node__content .summary {
    margin-bottom: 15px;
    font-size: 1.35714em;
    line-height: 130%;
  }
}

.text-formatted {
  color: #5a5a5a;
}

.text-formatted ul {
  font-size: 1.5em;
  color: #746860;
  list-style: none;
}

.text-formatted ul li {
  margin-bottom: 11px;
  padding-left: 23px;
  background-image: url("../svg/arrow_right.svg");
  background-position: 0px 50%;
  background-size: 11px;
  background-repeat: no-repeat;
  line-height: 140%;
}

.text-formatted p:last-child {
  margin-bottom: 0;
}

a,
a:visited,
a:active {
  color: #2bb6b7;
  text-decoration: underline;
}

blockquote {
  margin-right: 10%;
  margin-bottom: 18px;
  margin-left: 10%;
  padding: 10px 20px 20px;
  border-bottom: 3px dashed #e2e2e2;
  border-left: 5px none #e2e2e2;
  color: #a79d96;
  font-size: 1.5em;
  line-height: 145%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  blockquote {
    font-size: 1.2em;
  }
}

.quote-name {
  margin-bottom: 41px;
  padding-right: 10%;
  padding-left: 10%;
  color: #837870;
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
}

.quote-name a {
  color: inherit;
  text-decoration: none;
}

.quote-name a:hover {
  text-decoration: underline;
  color: #2bb6b7;
}

@media screen and (max-width: 768px) {
  .quote-name {
    font-size: 1.2em;
  }
}

.btn, .menu--site-menu.menu-level--0 > li:last-child a {
  padding: 15px 19px 10px;
  border-radius: 30px;
  background-color: #e1477d;
  color: #fff;
  text-shadow: 1px 1px 1px #066969;
}

.btn:hover, .menu--site-menu.menu-level--0 > li:last-child a:hover {
  color: white;
  background-color: #000;
}

.btn-small, .main-nav-scrolled ul.menu-level--0 > li:last-child a {
  padding-top: 10px;
  font-size: 1em;
}

.paragraph--type--factbox {
  position: relative;
  min-height: 100px;
  min-width: 200px;
  margin-bottom: 15px;
  padding: 30px 27px 20px;
  border-radius: 2px;
  background-color: #e1477d;
  color: white;
  background-image: linear-gradient(180deg, #e1477d, #b11149);
}

.paragraph--type--factbox h2 {
  margin-bottom: 18px;
  font-family: 'FB Hermes', sans-serif;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  padding-bottom: 17px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.57);
  color: white;
}

.paragraph--type--factbox p {
  font-size: 1.14286em;
  font-family: Calibri Bold, sans-serif;
}

.text-formatted.invert-color * {
  color: white;
}

h1 {
  color: #333333;
}

h2 {
  color: #e1477d;
}

h3,
h4,
h5,
h6 {
  color: black;
}

h1 {
  font-size: 3em;
  font-family: 'FB Hermes', sans-serif;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.28571em;
}

h5 {
  font-size: 1.14286em;
}

h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
}

.clock {
  text-transform: capitalize;
  font-size: 0;
  font-weight: bold;
  font-family: 'FB Hermes', sans-serif;
}

.clock span {
  font-size: 26.6px;
}

@media screen and (max-width: 1024px) {
  .clock span {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .clock span {
    font-size: 16px;
  }
}

.clock span.clock__unit {
  padding-right: 10px;
}

.clock__number {
  color: #333333;
}

.clock__unit {
  color: #c2c2c2;
}

.language-flags {
  list-style-type: none;
  position: fixed;
  top: 6px;
  right: -8px;
  width: auto;
  height: 60px;
  min-width: 100px;
  padding-right: 25px;
  float: none;
}

.language-flags li {
  float: left;
  width: 32px;
}

@media screen and (max-width: 768px) {
  .language-flags {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60%;
    height: 80px;
    padding-top: 23px;
    padding-left: 31px;
    margin: 0;
  }
}

.language-flag {
  width: 25px;
  height: 50px;
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
  float: left;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.language-flag:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.language-flag.active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.language-flag--uk {
  background-image: url("../svg/uk.svg");
}

.language-flag--dk {
  background-image: url("../svg/dk.svg");
}

.language-flag--de {
  background-image: url("../svg/de.svg");
}

/**
 * Custom icomoon font.
 */
[class^="icon-"], [class*=" icon-"], .menu--site-menu.menu-level--0 li.menu-item--expanded > a:before, .menu--site-menu.menu-level--0 > li:nth-child(4) > a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(1) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(2) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(3) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(4) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(5) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(6) a:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before, .menu--site-menu.menu-level--0 > li:nth-child(4) > a:before {
  content: "\e907";
}

.icon-microphone:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(6) a:before {
  content: "\e901";
}

.icon-scout:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(1) a:before {
  content: "\e902";
}

.icon-watch:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(2) a:before {
  content: "\e903";
}

.icon-piggy_bank:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(5) a:before {
  content: "\e904";
}

.icon-knife:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(3) a:before {
  content: "\e905";
}

.icon-bird:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(4) a:before {
  content: "\e906";
}

.icon-arrow_down:before, .menu--site-menu.menu-level--0 li.menu-item--expanded > a:before {
  content: "\e900";
}

/**
 * Custom icomoon font.
 */
[class^="icon-"], [class*=" icon-"], .menu--site-menu.menu-level--0 li.menu-item--expanded > a:before, .menu--site-menu.menu-level--0 > li:nth-child(4) > a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(1) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(2) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(3) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(4) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(5) a:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(6) a:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before, .menu--site-menu.menu-level--0 > li:nth-child(4) > a:before {
  content: "\e907";
}

.icon-microphone:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(6) a:before {
  content: "\e901";
}

.icon-scout:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(1) a:before {
  content: "\e902";
}

.icon-watch:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(2) a:before {
  content: "\e903";
}

.icon-piggy_bank:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(5) a:before {
  content: "\e904";
}

.icon-knife:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(3) a:before {
  content: "\e905";
}

.icon-bird:before, .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(4) a:before {
  content: "\e906";
}

.icon-arrow_down:before, .menu--site-menu.menu-level--0 li.menu-item--expanded > a:before {
  content: "\e900";
}

@media screen and (min-width: 768px) {
  [class^="menu--site-menu-"], [class*=" menu--site-menu-"] {
    position: relative;
    left: 50%;
    float: left;
    clear: both;
    margin: 10px 0;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  [class^="menu--site-menu-"], [class*=" menu--site-menu-"] {
    position: fixed;
    top: 0px;
    right: 0px;
    left: auto;
    z-index: 9998;
    display: block;
    overflow: auto;
    width: 60%;
    height: 100vh;
    margin: 0;
    padding-top: 70px;
    padding-left: 31px;
    background-color: white;
    box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.36);
    -webkit-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    transform: translate(100%, 0px);
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
  }
  [class^="menu--site-menu-"].js-mobile-active, [class*=" menu--site-menu-"].js-mobile-active {
    -webkit-transform: translateX(0px) translateY(0px) translateZ(0px);
    -ms-transform: translateX(0px) translateY(0px) translateZ(0px);
    transform: translateX(0px) translateY(0px) translateZ(0px);
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
  }
}

.menu--site-menu {
  font-family: 'FB Hermes', sans-serif;
}

.menu--site-menu a {
  color: black;
}

.menu--site-menu a.is-active:hover {
  color: #2bb6b7;
}

.menu--site-menu__menu-item {
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  .menu--site-menu__menu-item {
    padding: 0;
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 {
    margin-left: 0;
    position: relative;
    left: -50%;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 li {
    float: left;
  }
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 > .menu-item {
    margin: 0 40px 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .menu--site-menu.menu-level--0 > .menu-item {
    margin: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 li {
    font-size: 1.42857em;
  }
}

@media screen and (max-width: 1024px) {
  .menu--site-menu.menu-level--0 li {
    font-size: 1.28571em;
  }
}

.menu--site-menu.menu-level--0 > li:last-child a {
  color: white;
}

.menu--site-menu.menu-level--0 a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.menu--site-menu.menu-level--0 a:hover {
  color: #2bb6b7;
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 li.menu-item--expanded > a:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 300ms ease-out;
    float: right;
    position: relative;
    margin-left: 13px;
    font-size: 12px;
    line-height: 1.57143em;
  }
}

@media screen and (max-width: 768px) {
  .menu--site-menu.menu-level--0 li.menu-item--expanded > a:before {
    content: "";
  }
}

.menu--site-menu.menu-level--0 li.menu-item--expanded > a.open:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .menu--site-menu.menu-level--0 {
    padding: 0;
    position: relative;
    left: auto;
  }
  .menu--site-menu.menu-level--0 li {
    float: none;
  }
  .menu--site-menu.menu-level--0 li:last-child a {
    background: none;
    padding: 0;
    text-shadow: none;
  }
  .menu--site-menu.menu-level--0 > .menu-item {
    margin: 0;
    font-size: 1.21429em;
    padding: 4px 0;
  }
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul li {
    float: left;
    display: block;
    margin-right: 0%;
    width: 33.33333%;
    margin: 0;
    font-size: 20px;
    padding-right: 30px;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul li {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    padding: 4px 0;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul li a {
    margin: 0;
    padding-bottom: 4px;
    border-bottom: 1px dashed #2bb6b7;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(1) > ul li a {
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(4) > a:before {
    float: right;
    font-size: 40px;
    position: relative;
    left: 6px;
    margin-right: 6px;
    top: -7px;
  }
}

@media screen and (max-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(4) > a:before {
    content: "" !important;
  }
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li {
    float: left;
    display: block;
    margin-right: 0%;
    width: 33.33333%;
    margin: 0 0 20px;
    font-size: 20px;
    text-align: center;
    padding-right: 0;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    float: none;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 4px 0;
    margin: 0;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li a {
    margin: 0;
    padding-bottom: 4px;
    border-left: 1px dashed #2bb6b7;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
  }
  .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li a:before {
    display: block;
    font-size: 70px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li a:before {
    content: "" !important;
    margin: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(3) a {
    border-right: 1px dashed #2bb6b7;
  }
}

@media screen and (min-width: 768px) {
  .menu--site-menu.menu-level--0 > li:nth-child(2) > ul li:nth-child(6) a {
    border-right: 1px dashed #2bb6b7;
  }
}

.menu-item--expanded--menu--site-menu {
  list-style-image: none;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  ul.menu {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  ul.menu-level--1 {
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: white;
    padding: 50px 10% 20vh;
    margin: 0;
    box-shadow: 0 8px 24px -6px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    transition: opacity 350ms, -webkit-transform 250ms;
    transition: opacity 350ms, transform 250ms;
    transition: opacity 350ms, transform 250ms, -webkit-transform 250ms;
  }
}

@media screen and (max-width: 768px) {
  ul.menu-level--1 {
    opacity: 1;
    position: relative;
    width: auto;
    height: auto;
    box-shadow: none;
    padding: 0 0 0 15px;
  }
  ul.menu-level--1 li {
    float: none;
  }
  ul.menu-level--1 li a {
    padding-left: 16px;
    float: none;
    color: #a79d96;
    font-size: 16px;
    margin: 0;
    padding: 3px 0;
    border: none;
  }
  ul.menu-level--1 li a.is-active {
    color: #a79d96;
  }
}

@media screen and (min-width: 768px) {
  .js-inactive {
    opacity: 0;
    -webkit-transform: translate(0px, -20px) scale(1, 0.95);
    -ms-transform: translate(0px, -20px) scale(1, 0.95);
    transform: translate(0px, -20px) scale(1, 0.95);
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    left: -99999px !important;
    z-index: -9999;
  }
}

@media screen and (min-width: 768px) {
  .js-active {
    opacity: 1;
    -webkit-transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1);
    display: block;
    z-index: 9999;
  }
}

.logo_alt {
  display: none;
}

/**
 * Fixed top menu.
 *
 * The .main-nav-scrolled class is injected by Javascript, and inside this
 * we modify the default desktop styling to be fixed on top of the viewport
 * area.
 */
.main-nav-scrolled {
  position: fixed !important;
  left: 0px !important;
  top: 0px !important;
  right: 0px !important;
  width: 100%;
  z-index: 3001;
  height: 60px;
  padding-left: 23px;
  border-bottom: 2px dashed #a79d96;
  background-color: rgba(255, 255, 255, 0.95);
}

.main-nav-scrolled .region--header__sonderborg,
.main-nav-scrolled .region--header__tasks,
.main-nav-scrolled .language-flags {
  display: none;
}

.main-nav-scrolled .region--header__logo {
  margin: 0;
  padding: 10px 0;
  width: auto;
}

.main-nav-scrolled #block-camp-branding {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  min-height: 1px;
}

.main-nav-scrolled nav {
  clear: none;
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}

.main-nav-scrolled ul.menu-level--0 {
  list-style: none;
  position: relative;
  left: 50%;
  margin: 0;
  padding: 12px;
}

.main-nav-scrolled ul.menu-level--0 li {
  font-size: 1.14286em;
}

.main-nav-scrolled ul.menu-level--0 > li:last-child {
  position: fixed;
  right: 20px;
  padding: 0;
  margin: 0;
}

.main-nav-scrolled .logo_alt {
  display: block;
  height: 40px;
}

.main-nav-scrolled .logo {
  display: none;
}

.main-nav-scrolled ul.menu-level--0 > li:nth-child(4) > a:before {
  font-size: 22px;
  position: relative;
  left: 17px;
  margin-right: 6px;
  top: -4px;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 40px;
  right: 0px;
  width: 50px;
  z-index: 9999;
  cursor: pointer;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-0.014px) translateZ(0px);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-0.014px) translateZ(0px);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-0.014px) translateZ(0px);
}

.menu-toggle.active .menu-toggle__item-1 {
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg) translateX(2px) translateY(5px) translateZ(0px);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg) translateX(2px) translateY(5px) translateZ(0px);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg) translateX(2px) translateY(5px) translateZ(0px);
}

.menu-toggle.active .menu-toggle__item-2 {
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg) translateX(0px) translateY(-4px) translateZ(0px);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg) translateX(0px) translateY(-4px) translateZ(0px);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg) translateX(0px) translateY(-4px) translateZ(0px);
}

.menu-toggle__item-1, .menu-toggle__item-2 {
  width: 25px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

#toolbar-administration {
  z-index: 999999;
}

.field--name-field-video {
  margin-bottom: 32px;
}

.region--header__logo {
  text-align: center;
  height: 100%;
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%;
  padding: 5px 0;
}

.region--header__logo:last-child {
  margin-right: 0;
}

.region--header__logo img {
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .region--header__logo {
    padding: 0;
  }
  .region--header__logo img {
    max-height: 140px;
  }
}

@media screen and (max-width: 768px) {
  .region--header__logo {
    padding: 0;
  }
  .region--header__logo img {
    max-height: 60px;
  }
}

.region--header__sonderborg {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  position: relative;
  max-height: 350px;
  overflow: hidden;
  padding: 5px 0px;
  text-align: center;
  height: 100%;
}

.region--header__sonderborg:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .region--header__sonderborg {
    height: 70px;
    min-height: 10px;
    padding: 0;
    text-align: center;
  }
}

.region--header__sonderborg .region--header__sonderborg__image-wrapper {
  width: 50%;
  height: 100%;
  float: right;
  background-image: url("../images/sonderborg_logo.png");
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;
}

.region--header__sonderborg .region--header__sonderborg__image-wrapper img {
  max-width: 150px;
}

@media screen and (max-width: 1024px) {
  .region--header__sonderborg .region--header__sonderborg__image-wrapper {
    float: none;
    height: auto;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .region--header__sonderborg .region--header__sonderborg__image-wrapper img {
    max-width: 115px;
  }
}

@media screen and (max-width: 767px) {
  .region--header__sonderborg .region--header__sonderborg__image-wrapper img {
    max-width: 130px;
    padding-top: 8px;
  }
}

.region--header__tasks {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%;
  position: relative;
  height: 100%;
  padding-top: 56px;
  padding-left: 4%;
}

.region--header__tasks:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .region--header__tasks {
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .region--header__tasks {
    display: none;
  }
}

.region--header__logo__image-wrapper {
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 100%;
}

#block-camp-branding {
  display: block;
  width: 100%;
  float: left;
  z-index: 1100;
  height: 15vh;
  min-height: 150px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  #block-camp-branding {
    height: 70px;
    min-height: 10px;
  }
}

.date {
  color: #aeaeae;
}

.date--header {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 11px;
}

.figure {
  margin-bottom: 10px;
}

.figcaption {
  margin-top: 12px;
  margin-bottom: 20px;
  padding-right: 10%;
  padding-left: 10%;
  color: #837870;
  text-align: center;
  font-size: 1.2em;
}

.accordion {
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
}

.accordion__header {
  z-index: 10;
  width: 100%;
  border-bottom: 1px dashed #a79d96;
  font-family: 'FB Hermes', sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #333333;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accordion__header:hover {
  background-color: #f8f8f8;
}

.accordion__content {
  display: none;
  position: relative;
  overflow: hidden;
  padding: 22px;
  background-color: white;
}

.accordion__arrow {
  position: absolute;
  top: 35%;
  right: 22px;
  font-size: 14px;
}

.accordion__arrow {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 300ms ease-out;
}

.active .accordion__arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.paragraph.accordion {
  margin-bottom: 0;
}

.paragraph {
  margin-bottom: 25px;
}

.field--name-field-paragraph-text p:last-child {
  margin-bottom: 0;
}

.top-cover-outer {
  margin-right: 15px;
  margin-left: 15px;
  background-position: 0 0, 50% 50%;
  background-size: cover;
}

.top-cover {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
  height: 50vh;
  margin-bottom: 88px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  -ms-flex-direction: normal;
  box-align: center;
  -ms-flex-align: center;
  box-orient: vertical;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  box-pack: center;
  -ms-flex-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 76px 15%;
}

@media screen and (max-width: 768px) {
  .top-cover {
    height: 25vh;
    padding: 10px 2%;
    margin-bottom: 60px;
  }
}

.top-cover-headline {
  font-family: 'FB Hermes', sans-serif;
  text-align: center;
  font-size: 2.6rem;
  line-height: 140%;
  margin-bottom: 46px;
}

.top-cover-headline span {
  padding-right: 7px;
  padding-left: 7px;
}

@media screen and (max-width: 768px) {
  .top-cover-headline {
    margin-bottom: 30px;
    font-size: 1.8rem;
  }
}

.top-cover-sub-headline {
  font-family: 'FB Hermes', sans-serif;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 62px;
}

.top-cover-sub-headline span {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .top-cover-sub-headline {
    margin-bottom: 30px;
    font-size: 0.8rem;
  }
}

.top-cover-credit {
  padding: 3px;
  font-size: 1em;
}

@media screen and (max-width: 768px) {
  .top-cover-credit {
    padding: 0;
  }
}

.slant-left {
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.slant-right {
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.bg-black {
  background-color: #000;
  color: #fff;
}

.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000;
}

.bg-white {
  background-color: #fff;
  color: #000;
}

.text-uppercase {
  text-transform: uppercase;
}

.node__content {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

#main-content {
  display: block;
}

#main-content::after {
  clear: both;
  content: "";
  display: table;
}

@media (min-width: 1200px) {
  .juicebox-parent {
    height: 500px;
  }
}

@media (min-device-width: 980px) and (min-width: 980px), (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
  .juicebox-parent {
    height: 450px;
  }
}

@media (min-device-width: 740px) and (min-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation: landscape) {
  .juicebox-parent {
    height: 400px;
  }
}

.juicebox-parent {
  float: none;
  height: 675px;
  margin: 15px auto;
  width: 100%;
}

.jb-thm-thumb-selected .jb-thm-thumb-image {
  color: #2bb6b7 !important;
}

.jb-thm-thumb-image {
  color: #c2c2c2 !important;
}

/* CAPTION AREA */
.jb-area-caption {
  z-index: 200 !important;
  opacity: 1;
}

/* GALLERY TITLE */
.jb-area-large-mode-title {
  z-index: 200 !important;
  opacity: 1;
}

/* BUTTON BAR */
.jb-classifier-link-wrapper.jb-classifier-detail-area.jb-classifier-layer {
  z-index: 200 !important;
  opacity: 1;
}

/*# sourceMappingURL=sourcemaps/camp.main.css.map */
