<p>
    <a class="btn" href="//sl2017.us12.list-manage.com/subscribe?u=ff41604c0441f9e27f87a47e2&id=51854b79f9">
        {% trans with {'context': 'mailchimp'} %}
            sign me up
        {% endtrans %}
    </a>
</p>
