// Styling of a list of teasers.
.node--view-mode-teaser {
  img {
    float:left;
    margin: 0 15px 0 0;
    @include media($phone) {
      & {
        // Add some spacing to the header-below when we go in 1-col.
        margin-bottom: 10px;
      }
    }
  }
}

ul.news--teaser-list {
  // Move the headline and date-field close together.
  h3 {
    margin-bottom: 0;
    @include media($phone) {
      & {
        margin-top: 5px;
        clear: both;
      }
    }

  }
  .date-field {
    margin-top: 0;
    margin-bottom: 5px;
    @include media($phone) {
      & {
        margin-bottom: 0;
      }
    }
  }

  // The <li> is wrapped in an a-tag, we don't want everything underlined.
  a {
    text-decoration: none;
  }

  p {
    // Make the elements (date and summary) a bit more compact.
    margin-bottom: 26px;

  }

  li {
    padding: 10px;
    overflow: auto;
    margin: 0;

    @include media($phone) {
      & {
        margin-bottom: 5px;
      }
    }

  }
  li:hover {
    background: $white-dark;
  }

  li {
    margin-top: 0px;
    padding-left: 40px;
  }

  h3 {
    position: relative;
    &:before {
      // Use our link green
      color: $green;
      left: -47px;
      top: 5px;
      float: left;
      position: absolute;
      margin-left: 13px;
      font-size: 12px;
      line-height: em(22, $base-font-size);
      @include icon('.icon-arrow_down');
      @include transform(rotate(270deg));
    }
  }
}


// Supplement the standard teaser list above.
ul.news--teaser-list.news--teaser-list--compact {
  li {
    // The before is position relative to
    a &:before {

    }
    h3 {
      margin-top: 0;
    }
    }
}
