$black: rgb(0, 0, 0);
$black-medium: rgb(51, 51, 51);
$black-light: rgb(90, 90, 90);

// Gradient start and stop colors.
$gray-light-gradient-dark: rgb(217, 217, 214);
$gray-light-gradient-light: rgb(243, 243, 243);

$turquoise-dark-gradient-dark: rgb(130, 169, 169);
$turquoise-dark-gradient-light: rgb(187, 215, 215);

$gray: rgb(194, 194, 194);
$gray-medium: rgb(174, 174, 174);

$gray-light: rgb(167, 157, 150);
$gray-dark: rgb(100, 92, 86);
$gray-list: rgb(116, 104, 96);
$gray-dark: rgb(131, 120, 112);

$white-dark: rgb(248,248,248);//f8f8f8;

$green: rgb(43, 182, 183);

$red: rgb(225, 71, 125);

$red-dark: rgb(177,17,73);

$blue: rgb(56, 152, 236);

$border-color: rgb(226, 226, 226);

// Icon font.
@include font-face("icomoon", "../fonts/icomoon", $file-formats: ttf woff svg eot);

// Base font vars.
$base-font-size: 14px;
$base-font-color: $black-light;
$_fonts-path: "../fonts";

/**
 * Breakpoints.
 */
$small: new-breakpoint(max-width 500px);
$phone: new-breakpoint(max-width 768px);
$tablet-p: new-breakpoint(max-width 772px);
$desktop: new-breakpoint(min-width 773px);
$tablet-l: new-breakpoint(max-width 1024px);
$screen: new-breakpoint(min-width 1025px);
$bigscreen: new-breakpoint(min-width 1200px);

// z-index's
$z-index-menu: 2;

// We do this manually for now to support opentype
@font-face {
  font-family: "FB Hermes";
  src: url("../fonts/FB Hermes Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('#{$_fonts-path}/Calibri.eot');
  src: local('Calibri Italic'), local('Calibri-Italic'),
  url('#{$_fonts-path}/Calibri.eot?#iefix') format('embedded-opentype'),
  url('#{$_fonts-path}/Calibri.woff2') format('woff2'),
  url('#{$_fonts-path}/Calibri.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri Italic';
  src: url('#{$_fonts-path}/Calibri-Italic.eot');
  src: local('Calibri Italic'), local('Calibri-Italic'),
  url('#{$_fonts-path}/Calibri-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$_fonts-path}/Calibri-Italic.woff2') format('woff2'),
  url('#{$_fonts-path}/Calibri-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri Bold';
  src: url('#{$_fonts-path}/Calibri-Bold.eot');
  src: local('Calibri Italic'), local('Calibri-Bold'),
  url('#{$_fonts-path}/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$_fonts-path}/Calibri-Bold.woff2') format('woff2'),
  url('#{$_fonts-path}/Calibri-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri Bold Italic';
  src: url('#{$_fonts-path}/Calibri-BoldItalic.eot');
  src: local('Calibri Bold Italic'), local('Calibri-BoldItalic'),
  url('#{$_fonts-path}/Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$_fonts-path}/Calibri-BoldItalic.woff2') format('woff2'),
  url('#{$_fonts-path}/Calibri-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


$base-font: Calibri, sans-serif;

// Paddings.
$paragraph-margin-bottom: 32px;
