.btn {
  padding: 15px 19px 10px;
  border-radius: 3px;
  background-color: #2bb6b7;
  color: #fff;
  text-shadow: 1px 1px 1px #066969;
}

.btn-small {
  padding-top: 10px;
  font-size: em(14, $base-font-size);
}
