.btn {
  padding: 15px 19px 10px;
  border-radius: 30px;
  background-color: #e1477d;
  color: #fff;
  text-shadow: 1px 1px 1px #066969;

  &:hover {
    color: white;
    background-color: #000;
  }
}

.btn-small {
  padding-top: 10px;
  font-size: em(14, $base-font-size);
}
