/**
 * Custom icomoon font.
 */


 // Icon placeholder.
%icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Mixin for including icons.
@mixin icon($class){
    @extend %icon;
    @extend #{$class}
}

[class^="icon-"], [class*=" icon-"] {
    @extend %icon;
}

.icon-arrow_down {
    &:before {
        content: "\e900";
    }
}
