/**
 * Custom icomoon font.
 */

 // Icon placeholder.
%icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Mixin for including icons.
@mixin icon($class){
    @extend %icon;
    @extend #{$class}
}

[class^="icon-"], [class*=" icon-"] {
    @extend %icon;
}

.icon-mail2:before {
    content: "\ea84";
}
.icon-logo_alt:before {
    content: "\e908";
}
.icon-scout:before {
    content: "\e902";
}
.icon-phone:before {
    content: "\e909";
}
.icon-mail:before {
    content: "\e90a";
}
.icon-search:before {
    content: "\e907";
}
.icon-microphone:before {
    content: "\e901";
}
.icon-watch:before {
    content: "\e903";
}
.icon-piggy_bank:before {
    content: "\e904";
}
.icon-knife:before {
    content: "\e905";
}
.icon-bird:before {
    content: "\e906";
}
.icon-arrow_down:before {
    content: "\e900";
}
