.text-center {
  text-align: center;
}

p {
  color: $base-font-color;
  line-height: 155%;
  font-size: em(18.2, $base-font-size);

  @include media($tablet-p) {
    font-size: em(16.8, $base-font-size);
  }
}

.text-formatted {
  color: $base-font-color;

  ul {
    font-size: em(21, $base-font-size);
    color: $gray-list;
    list-style: none;

    li {
      margin-bottom: 11px;
      padding-left: 23px;
      background-image: url("../svg/arrow_right.svg");
      background-position: 0px 50%;
      background-size: 11px;
      background-repeat: no-repeat;
      line-height: 140%;
    }
  }
}

a,
a:visited,
a:active {
  color: $green;
  text-decoration: underline;
}

blockquote {
  margin-right: 10%;
  margin-bottom: 18px;
  margin-left: 10%;
  padding: 10px 20px 20px;
  border-bottom: 3px dashed $border-color;
  border-left: 5px none $border-color;
  color: $gray-light;
  font-size: em(21, $base-font-size);
  line-height: 145%;
  text-align: center;
}
