@import "icons";

// Target all menus that starts with "menu--site-menu-".
[class^="menu--site-menu-"], [class*=" menu--site-menu-"] {

  @include media($desktop) {
    position: relative;
    left: 50%;
    float: left;
    clear: both;
    margin: 10px 0;
    text-align: left;
  }

  // On mobile we go right.
  @include media($phone) {
    position: fixed;
    top: 0px;
    right: 0px;
    left: auto;
    z-index: 9998;
    display: block;
    overflow: auto;
    width: 60%;
    height: 100vh;
    margin: 0;
    padding-top: 70px;
    padding-left: 31px;
    background-color: #fff;
    box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, .36);

    // Transition.
    -webkit-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    transition: transform 200ms;

    &.js-mobile-active {
      transform: translateX(0px) translateY(0px) translateZ(0px);
      transition: transform 200ms;
    }
  }
}

ul.menu a.is-active {

  &:hover {
    color: #2bb6b7;
  }
}

.menu-item {
  @include media($tablet-p) {
    padding: 0;
    display: inline-block;
    width: 100%;
  }
}

.menu-item--expanded {
  list-style-image: none;
  list-style-type: none;
}

// Reset.
ul.menu {
  @include media($tablet-p) {
    margin-left: 0;
  }
}

ul.menu-level--0 {

  @include media($desktop) {

    & {
      padding: 10px 20px;
      position: relative;
      left: -50%;
      text-align: left;
    }
  }

  li {
    @include media($desktop) {
      float: left;
    }
  }

  > .menu-item {

    @include media($desktop) {
      margin: 0 20px;
    }

    @include media($tablet-l) {
      margin: 0 10px;
    }
  }

  li {
    @include media($desktop) {
      font-size: em(20, $base-font-size);
    }

    @include media($tablet-l) {
      font-size: em(18, $base-font-size);
    }
  }

  > li {
    &:last-child {

      a {
        @extend .btn;
        color: white;
      }
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      color: #2bb6b7;
    }
  }

  li.menu-item--expanded {

    > a {
      &:before {

        @include media($desktop) {
          @include icon('.icon-arrow_down');
          float: right;
          position: relative;
          margin-left: 13px;
          font-size: em(12, $base-font-size);
          line-height: em(22, $base-font-size);
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          transition: all 300ms ease-out;
        }

        @include media($tablet-p) {
          content: "";
        }
      }

      &.open:before {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }

  @include media($tablet-p) {
    padding: 0;
    position: relative;
    left: auto;

    li {
      float: none;

      &:last-child {

        a {
          background: none;
          color: black;
          padding: 0;
          text-shadow: none;
        }
      }
    }

    > .menu-item {
      margin: 0;
      font-size: em(17, $base-font-size);
      padding: 4px 0;
    }
  }
}

// 1st submenu.
ul.menu-level--0 {

  > li:nth-child(1) {

    > ul li {

      @include media($desktop) {
        @include span-columns(4);
        margin: 0;
        font-size: 20px;
        padding-right: 30px;
      }

      // Go full width on mobile.
      @include media($tablet-p) {
        @include span-columns(12);
        padding: 4px 0;
      }

      a {

        @include media($desktop) {
          margin: 0;
          padding-bottom: 4px;
          border-bottom: 1px dashed #2bb6b7;
          width: 100%;
          display: inline-block;
          padding-top: 20px;
        }

        @include media($tablet-p) {
          border: none;
        }
      }
    }
  }
}

// 2nd submenu.
ul.menu-level--0 {

  > li:nth-child(2) {

    > ul li {

      @include media($desktop) {
        @include span-columns(4);
        margin: 0 0 20px;
        font-size: 20px;
        text-align: center;
        padding-right: 0;
      }

      // Go full width on mobile.
      @include media($tablet-p) {
        @include span-columns(12);
        float: none;
        display: inline-block;
        width: 100%;
        text-align: left;
        padding: 4px 0;
        margin: 0;
      }

      a {

        @include media($desktop) {
          margin: 0;
          padding-bottom: 4px;
          border-left: 1px dashed #2bb6b7;
          width: 100%;
          display: inline-block;
          padding-top: 20px;

          &:before {
            display: block;
            font-size: 70px;
            margin-bottom: 25px;
          }
        }

        @include media($tablet-p) {

          &:before {
            // Make sure no icons are shown.
            content: "" !important;
            margin: 0 !important;
          }
        }
      }

      &:nth-child(1) {
        a {
          &:before {
            @include icon('.icon-scout');

            @include media($desktop) {
              margin-top: 26px;
              font-size: 44px;
            }
          }
        }
      }

      &:nth-child(2) {
        a {
          &:before {
            @include icon('.icon-watch');
          }
        }
      }

      &:nth-child(3) {
        a {

          @include media($desktop) {
            border-right: 1px dashed #2bb6b7;
          }

          &:before {
            @include icon('.icon-knife');
          }
        }
      }

      &:nth-child(4) {
        a {
          &:before {
            @include icon('.icon-bird');
          }
        }
      }

      &:nth-child(5) {
        a {

          &:before {
            @include icon('.icon-piggy_bank');
          }
        }
      }

      &:nth-child(6) {
        a {

          @include media($desktop) {
            border-right: 1px dashed #2bb6b7;
          }

          &:before {
            @include icon('.icon-microphone');
          }
        }
      }
    }
  }
}

// general theming of submenu.
ul.menu-level--1 {

  @include media($desktop) {
    // Layout.
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 1;
    background-color: white;
    padding: 50px 10% 20vh;
    margin: 0;
    box-shadow: 0 8px 24px -6px rgba(0, 0, 0, .3);
    margin-top: 20px;

    // Transition.
    transition: opacity 350ms, transform 250ms;
  }

  @include media($tablet-p) {

    & {
      opacity: 1;
      position: relative;
      width: auto;
      height: auto;
      box-shadow: none;
      padding: 0 0 0 15px;
    }

    li {

      float: none;

      a {
        padding-left: 16px;
        float: none;
        color: #a79d96;
        font-size: 16px;
        margin: 0;
        padding: 3px 0;
        border: none;

        &.is-active {
          color: #a79d96;
        }
      }
    }
  }
}

.js-inactive {
  // Transition.
  @include media($desktop) {
    opacity: 0;
    -webkit-transform: translate(0px, -20px) scale(1, 0.95);
    -ms-transform: translate(0px, -20px) scale(1, 0.95);
    transform: translate(0px, -20px) scale(1, 0.95);
  }
}

.js-active {
  @include media($desktop) {
    opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1);
    display: block;
  }
}

.logo_alt {
  display: none;
}

/**
 * Fixed top menu.
 */
.main-nav-scrolled {

  & {
    position: fixed !important;
    left: 0px !important;
    top: 0px !important;
    right: 0px !important;
    width: 100%;
    z-index: 3001;
    height: 60px;
    padding-left: 23px;
    border-bottom: 2px dashed #a79d96;
    background-color: hsla(0, 0%, 100%, .95);
  }

  // Hide stuff.
  .region--header__sonderborg,
  .region--header__tasks,
  .language-flags {
    display: none;
  }

  .region--header__logo {
    margin: 0;
    padding: 10px 0;
    width: auto;
  }

  #block-camp-branding {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
    min-height: 1px;
  }

  nav {
    clear: none;
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
  }

  ul.menu-level--0 {
    list-style: none;
    position: relative;
    left: 50%;
    margin: 0;
    padding: 6px;

    li {
      font-size: em(18, $base-font-size);
    }

    > li {

      &:last-child {

        position: fixed;
        right: 20px;
        padding: 0;
        margin: 0;

        a {
          @extend .btn-small
        }
      }
    }
  }

  .logo_alt {
    display: block;
    height: 40px;
  }

  .logo {
    display: none;
  }
}

// Burger mneu toggle.
.menu-toggle {

  // Hide on bigger screens.
  display: none;

  // Layout.
  position: fixed;
  top: 40px;
  right: 0px;
  width: 50px;
  z-index: 9999;
  cursor: pointer;

  // Transition.
  transition: transform 200ms;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-0.014px) translateZ(0px);

  &.active {
    .menu-toggle__item-1 {
      transition: transform 200ms;
      transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg) translateX(2px) translateY(5px) translateZ(0px);
    }

    .menu-toggle__item-2 {
      transition: transform 200ms;
      transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg) translateX(0px) translateY(-4px) translateZ(0px);
    }
  }

  // Burger styling.
  &__item-1,
  &__item-2 {
    width: 25px;
    height: 3px;
    background-color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
  }

  // Show on mobile(tablet portrait).
  @include media($tablet-p) {
    display: block;
  }
}

// Testing TODO(ts) - remove !IMPORTANT remove.
#main-content {
  height: 22200px;
}

