.node__content {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

.node__summary {
  margin-bottom: 25px;
  font-family: Calibri, sans-serif;
  font-size: 1.2em;
  line-height: 145%;
  font-weight: 700;
  text-align: center;
}
